  /* Colors and fonts */
body { 
  background-color: rgb(230, 230, 230);
  color: rgb(50, 50, 50);
  font-family: Lora, serif;
  font-size: 15px;
  font-weight: lighter; 
}

  h1, h2,{
  font-family: Roboto, sans-serif;
}
  h1 { 
  color: red;
  font-size: 32px;
  font-weight: 900;
}
  h2 { 
  color: red;
  font-weight: lighter;
  font-size: 20px;
  font-weight: 500;
}
  a {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  color: #6BBAEC;
  font-weight: 600;
  font-size: 18px;
}
  a:hover {
  Color: black;
}


/* Custom design with class (99% of your design) */
.container {
  width: 700px;
  margin: 40px auto;
}

@media (max-width: 760px) {
  .container {
    width: 600px;
  }
}

@media (max-width: 500px) {
  .container {
    width: 400px;
  }
}

.card-white {
  text-align: center;
  padding: 40px;
  margin: 20px 0px;
  background-color: white;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
} 


.img-circle {
  border-radius: 50%;
} 
.btn-blue {
  background-color: #6B72E1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}
.btn-blue:hover {
  background-color: black;
  color: white;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}
.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
  color: red;
}
.list-inline i:hover {
  color: red;
}

/* Design adjustments using id (1% design remaining) */
#introduction p {
  margin: 40px;
}
.list{
  list-style: none;
  display: block;
  justify-content: center;
}
#linkedin{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
#instagram{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}




